---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import PrincipalImg from "../assets/images/Principal.png";
---

<Layout>
	<section class="py-12 py-lg-24 h-100 d-flex flex-column pt-5">
		<div class="container pt-5">
			<h1
				class="font-heading text-center mb-6"
				style="letter-spacing: -1.2px;"
			>
				Unete a la comunidad de bolsa de empleo de la universidad
			</h1>
			<p class="text-center text-dark-light fs-7 mb-20">
				Podra ayudarte para encontrar trabajos de manera sencilla y
				rapida
			</p>
			<div class="row d-flex justify-content-center pt-lg-5">
				<div class="col-lg-5 col-sm-12 col-xs-12">
					<div class="">
						<Image
							src={PrincipalImg}
							alt="Principal"
							class="rounded-circle img-fluid w-100"
						/>
					</div>
					
				</div>
			</div>
		</div>
	</section></Layout
>
