---
---

<footer class="bg-body-tertiary text-center">
	<div class="container"></div>
	<div
	  class="text-center p-3 d-flex flex-column justify-content-center bg-black"
	  
	>
	  &copy; Copyright {new Date().getFullYear()}

	  <a class="text-body" href="">PinguCode</a>
	</div>
  </footer>