---

---

<nav class="navbar navbar-expand-lg bg-black">
	<div class="container">
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarButtonsExample"
		aria-expanded="false">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarButtonsExample">
		<ul class="navbar-nav">
		  <li class="nav-item">
			<a class="nav-link" aria-current="page" href="#"></a>
		  </li>
		</ul>
		<div class="d-flex ">
		  <a href="/perfil">
			<button type="button" class="btn btn-default px-3 me-2 bg-primary text-black">
			  Ver mi perfil
			</button>
		  </a>
		  <a href="/perfilExtenso">
			<button type="button" class="btn btn-primary me-3 btn-secondary">
			  Ver mi perfil Extenso
			</button>
		  </a>
		  <a href="/editarPerfil">
			<button type="button" class="btn me-3 btn-outline-light">
			  Editar mi perfil
			</button>
		  </a>
		</div>
		<div class="ms-auto">
		  <a href="/">
			<button type="button" class="btn btn-danger">
			  Logout
			</button>
		  </a>
		</div>
	  </div>
	</div>
  </nav>