---

---

<nav class="navbar navbar-expand-lg bg-black">
	<div class="container">
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarButtonsExample"
			aria-expanded="false"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="/">
			Sistema de bolsa de trabajo de Cucea
		</a>
		<div class="collapse navbar-collapse" id="navbarButtonsExample">

			<div class="d-flex align-items-center ms-auto">
				<a href="/iniciarSesion">
					<button type="button" class="btn btn-default px-3 me-2 bg-primary text-black text-bold">
						Iniciar Sesion
					</button>
				</a>
				<a href="/registrarte">
					<button type="button" class="btn btn-secondary me-3">
						Registrate
					</button>
				</a>
				<a
					class="btn btn-subtle px-3"
					href="https://github.com/mdbootstrap/mdb-ui-kit"
					role="button"><i class="fab fa-github"></i></a
				>
			</div>
		</div>
	</div>
</nav>
