---
import "../styles/bootstrap.scss";
import NavBarEstudiante from "../components/Structure/navBarEstudianteComponent.astro";
import Footer from "../components/Structure/footerComponent.astro";
---

<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Bolsa de trabajo Cucea</title>
    <meta name="description" content="Use Bootstrap with Astro" />
  </head>
  <body class="wrapper  bg-black">
    <NavBarEstudiante />
    <div class="container content  bg-black "><slot /></div>
    <Footer />
    <script>
      import "bootstrap/dist/js/bootstrap";
    </script>
  </body>
</html>

<style>
  body,
  html {
    height: 100%; /* Para asegurar que ocupe todo el alto de la ventana */
  }

  .wrapper {
    min-height: 100vh; /* Altura mínima para ocupar todo el viewport */
    display: flex;
    flex-direction: column; /* Ordenar en columna */
  }

  .content {
    flex: 1; /* Hacer que la sección principal ocupe el espacio disponible */
    
    
  }
</style>
