---
import "../styles/bootstrap.scss";
import NavBarPersonal from "../components/structure/navBarPersonalComponent.astro";
import Footer from "../components/structure/footerComponent.astro";
---

<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Bolsa de trabajo Cucea</title>
    <meta name="description" content="Use Bootstrap with Astro" />
  </head>
  <body class="wrapper  bg-black">
    <NavBarPersonal />
    <div class="container content  bg-black"><slot /></div>
    <Footer/>
    <script>
      import "bootstrap/dist/js/bootstrap";
    </script>
  </body>
</html>

